body {
  font-family: Arial;
  text-align: center;
  background: rgb(0, 3, 91);
  background: linear-gradient(
    225deg,
    rgba(0, 3, 91, 1) 0%,
    rgba(7, 78, 150, 1) 30%,
    rgba(0, 212, 255, 1) 100%
  );
  position: relative;
}
body h1 {
  margin-top: 0;
}
html,
body {
  height: 100%;
  margin: 0;
}
#form-box {
  background-color: rgba(231, 254, 255, 0.644);
  border-radius: 10px;
  border: 3px solid rgba(46, 46, 46, 0.61);
  padding: 50px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 390px;
}
#error-message {
  position: relative;
  top: 20px;
  color: red;
  display: none;
}
#carpeta {
  display: flex;
  width: 100%;
  position: relative;
}
#carpeta > label {
  width: 90px;
}
#carpeta-input {
  width: calc(100% - 90px);
  height: 14px;
}
#carpeta-button {
  border-radius: 0px;
  border: 1px solid grey;
  position: absolute;
  right: 0;
}
button:focus {
  outline: none;
}
#carpeta-button:hover {
  background-color: rgb(216, 216, 216);
}
#carpeta-button:active {
  background-color: rgb(255, 255, 255);
}
#descargar{
  border:none;
  background-color: rgb(0, 102, 255);
  height: 30px;
  width: 100px;
  color: white;
  border-radius: 5px;
  font-weight: bold;
}
